.buttonFormat  {
    border: none;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        width: 20%;
        min-width: 13rem;
        margin-right: 1.5rem;
    }
}