.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__city {
        width: 100%;
        margin: auto;
        &__container {
            &__map {
                border: 1px solid #000;
                border-radius: 2rem;
                width: 95%;
                max-width: 28rem;
                margin: auto;
                padding: 1rem;
                .mapFrance {
                    margin: 0.5rem auto;
                }
                @media screen and (min-width: 768px) {
                    margin: 0 1rem;
                    
                }
            }
            &__search {
                border: 1px solid #000;
                border-radius: 2rem;
                padding: 2rem;
                width: 95%;
                margin: 1rem auto;
                .boxResult {
                    width: 95%;
                    margin: 0 auto 1rem;
                    padding: 2rem 1rem;
                    font-size: 1rem;
                    border: 1px solid #000;
                    border-radius: 1.25rem;
                    background: #c3c3c3;
                    @media screen and (min-width: 768px) {
                        width: 100%;
                    }
                }
                .selectSearch {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    select {
                        width: 50%;
                        margin: 1rem 0;
                    }
                    @media screen and (min-width: 768px) {
                        width: 100%;
                    }
                }
                .submit {
                    min-width: 7rem;
                }
                @media screen and (min-width: 768px) {
                    margin: 0 1rem;
                }
            }
        }
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    &__weather {
        width: 95%;
        margin: 1rem auto;
        padding: 1rem;
        border: 1px solid #000;
        border-radius: 2rem;
        div {
            background-color: #000;
            border-radius: 1.25rem 1.25rem 0 0;

            p {
                width: 100%;
                text-align: center;
                padding: 1rem;
                color: #fff;
            }
            @media screen and (min-width: 768px) { 
                display: flex;
                align-items: center;
                p {
                    width: 80%;
                }
            }
        }
        @media screen and (min-width: 768px) {
            width: 98%;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
}